RewriteEngine on

RewriteCond %{HTTP_HOST} ^w3.(rock|rk)
RewriteRule ^(.*)$ http://www.rockrepublik.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^(^rockrepublik) [OR]
RewriteCond %{HTTP_HOST} ^www.(^rockrepublik)
RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTP_HOST} !^www\.(rock)
RewriteCond %{HTTP_HOST} ^(www\.)?([a-z0-9]+)\.(rock)
RewriteRule ^([^.]+)?$ index.php?module=alias&args=alias:%2.$1 [L]

RewriteRule ^$ index.php?module=home [L]
RewriteRule ^(ext)/([0-9a-z\_\-]+)\.(js|css)$ index.php?module=$1&args=f:$2.e:$3 [L]
RewriteRule ^(sign)(in|out|up)/?$ index.php?module=$1&args=x1:$2 [L]
RewriteRule ^(board)/(topic|post)/([0-9]+)/?(([0-9a-z\_\.\-\:]+)/?)?$ index.php?module=$1&args=$2:$3.$5 [L]
RewriteRule ^(board)/([a-z0-9]+)/(([0-9a-z\_\.\-\:]+)/?)?$ index.php?module=$1&args=f:$2.$4 [L]
RewriteRule ^(events|help|news)/([0-9a-z\-\_]+)/?(([0-9a-z\_\.\-\:]+)/?)?$ index.php?module=$1&args=x1:read.alias:$2.$4 [L]
RewriteRule ^(artists|crop|uptime|services|feed|tos|history|emoticon)/?(([0-9a-z\_\.\-\:]+)/?)?$ index.php?module=dev&args=x1:$1.$3 [L]

RewriteRule ^(my)/(home|page|friends|messages|account)/?$ index.php?module=$1&args=x1:$2 [L]

RewriteRule ^forum/([a-z]+)/?([0-9]+)/?$ http://localhost/ntc/alice/board/$1/s:$2/ [R=301,L]
RewriteRule ^(topic|post)/([a-z0-9]+)/(s([0-9]+)/)?$ http://localhost/ximod/alice/board/$1/$2/s:$4/ [R=301,L]
RewriteRule ^m/([0-9a-z\_\-]+)/?(([a-z]+)/?)?$ http://$1.rockrepublik.net/page:$3/ [R=301,L]
RewriteRule ^a/([0-9a-z]+)/?(([0-9]+)/?)?$ http://$1.rockrepublik.net/page:$3 [R=301,L]
RewriteRule ^a/([0-9a-z]+)/9/([0-9]+)/$ http://$1.rockrepublik.net/page:music.s:$2 [R=301,L]
RewriteRule ^a/?$ http://localhost/ntc/alice/artists/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z]+)/?(([0-9a-z\_\.\-\:]+)/?)?$ index.php?module=$1&args=$3 [L,QSA]